!!! 5
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		//Css 
		link( rel="stylesheet", type="text/css", media="screen", href="./stylesheets/style.css")

		//Other Javascript
		script( src="./javascripts/jquery.min.js")
		script( src="./javascripts/scripts.js")


	body.home
		section.content
			.inner
				.studio
					article.text
						p Drapets was created in 2004 by Raquel Ruiz Ucles, aiming to meet the latest trends in textile design that appeared with the coming of the new millenium.
						p Since then, the studio has endeavored to create outwear, children's wear, lingerie and swimwear clothes, as well as upholstery and stationery designs.
						p In November 2012, with the integration of the team of Estudi Pagani, which contributes with over 40 years of experience, Drapets not only offers quality and state of the art design, but also, combining creative and marketing skills, a service tailored to customer needs and ideas.


				.images
					img( src="./images/frame_image_01.jpg", alt="Drapets Textile Design")

		header.Header
			h1
				a.logo(href="./", title="Drapets, Textile Design") Drapets, Textile Design
			//nav
				a Toddler
				a Boys
				a Girls
				a Men
				a Women
				a Home
				a.studio(data-state="Active") The Studio

			footer.direction
				address
					p Rosalía de castro, 59
					p Barcelona
					p (+34) 93 446 17 93
					p
						a(href="mailto:contact@drapets.com") contact@drapets.com
